.main {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  min-height: 100vh;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.label {
  margin-bottom: 1em;
}

.options {
  padding: 5px 10px;
}

.selection {
  margin-right: 10px;
}

.radioContainer {
  display: flex;
}

.scheduleContainer {
  padding: 2rem 0px 0;
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
}

.calender {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 1em 2em;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
